body {
   height: auto; 
   width: auto;
   padding: 0;
   margin: 0;
}





.top, .topmain, .footer {
    background-color: #1f2937;
    
    
    
}

.top {
    height: 10%;
    padding-top: 20px;
}

.testdiv {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 0;
}


.headers {
    color: #F9FAF8;
    font-size: 24px;
    align-items: start;
    
}

ul {
    list-style-type: none;
}


.headerlinkul {
    display: flex;
    color: #e5e8eb;
    gap: 16px;
    
    
}

.topmain {
    padding-top: 20px;
}

#random-pic {
    height: 150px;
    width: 300px;
}

.toptext {
    font-size: 18px;
    color: #e5e7eb;
}


.third {
    background-color: #e5e7eb;
}